body {
  font-family: $font-primary;
  font-style: normal;

  background-color: $color-background-white;
  color: $color-text-primary;
}

// body {
//   display: flex;
//   flex-direction: column;
// }

// body,
// html {
//   height: 100%;
// }

// .content {
//   flex: 1 0 auto;
// }

// .stiky-footer {
//   flex-shrink: 0;
// }
