%link {
  text-decoration: none;
}

%list {
  list-style: none;
}

%button {
  min-width: 186px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(20 / 20);
  text-align: center;
  letter-spacing: 0.06em;

  color: $color-background-white;
  background-color: $color-buttont;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  // @include transition(background-color);

  // &:hover,
  // &:focus {
  //   // background-color: $color-btn-accent;
  // }
}
