//     Fonts

$font-primary: "Poppins", sans-serif;
$font-secondary: "Inter", sans-serif;

//     Colors

$color-text-primary: #676767;
$color-text-secondary: #2e2e2e;
$color-accent: #f54748;
$color-accent-secondary: #03a66b;
$color-accent-third: #f9ba45;
$color-buttont: #f86061;
$color-background-slogan: #fdecec;
$color-background: #eedcdc;
$color-background-white: #ffffff;

//     Shadows

$shadow-header: rgba(160, 158, 158);
$shadow-slogan: 0px 12px 20px rgba(224, 25, 35, 0.2);
$shadow-order-process-btn: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
$shadow-delivery-block: 0px 40px 70px -10px rgba(0, 0, 0, 0.08);
$shadow-offer-block: 0px 50px 80px rgba(0, 0, 0, 0.08);

//     Transition properties

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
$transition-duration-modal: 500ms;
